# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
    name = McPotato
    email = luc.sydney.georges@gmail.com

[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
    log = diff-so-fancy | less --tabs=1,5 -RFX

[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[diff-so-fancy]
    markEmptyLines = false
    changeHunkIndicators = false
